
.info
  .info__name
    = message.user.name
  .info__time-posted
    = message.created_at.strftime("%Y年%m月%d日 %H時%M分")

.info__coment
  - if message.text.present?
    %p.Message__content
      = message.text
  = image_tag message.image.url, class: 'Message__image' if message.image.present?