* {
  box-sizing: border-box;
}

.wapper{
 display: flex;
 height: 100vh;
}

.side-bar {
 width: 300px;
 &__header{
   height: 100px;
   background-color: #253141;
   display: flex;
   align-items: center;
   padding: 0 20px;
 }
 &__groups{
    height: calc(100vh - 100px);
    background-color: #2f3e51;
    padding: 0 20px;
   }
  
}
.main-chat {
  width: calc(100vw - 300px);
  background-color: #ffffff;
  
  &__header{
    padding: 0 40px;
    height: 100px;
    border-bottom: solid 1px #eeeeee;
    display: flex;
    justify-content: space-between;
  }
  &__message-list{
    height: calc(100vh - 190px);
    background-color: #fafafa;
    padding: 35px 0 0 40px;
    
  }
  &__footer{
    height: 90px;
    padding: 20px 40px;
    background-color: #d2d2d2;
    display: flex;
    text-align: center;
  
  }
}

.top-items{
  height: 20px;
  width: 260px;
  display: flex;
  justify-content: space-between;
  &__name{
    color: white;
    font-size: 16px;
  }
  &__icon{
    width: 60px;
    height: 20px;
    display: flex;
    justify-content: flex-end;
  .icon__left{
       margin-right: 5px;
    }
  a{
      color: white;
    }
  }
}

.side-bar__groups{
  background-color: #2f3e51;
  &__list{
     padding: 20px 0 40px 0;
    &__name{
      margin-bottom: 5px;
      font-size: 15px;
    }
    &__membar{
      font-size: 11px;
    }
  }
  &__list__name{
    font-size: 15px;
  }

  &__list__messages{
    font-size: 11px;
  }
  a{
     color: #ffffff;
     text-decoration: none;
  }
}

.groups{
  &__name{
    margin: 35px 0 15px 0;
    font-size: 20px;
    color: #333333;
  }
  &__membar{
    font-size: 12px;
    color: #999999;
  }
}

.main-chat__edit{
  font-size: 16px;
  padding-top: 28px ;
  a{
    border: 1px solid #38aef0;
    padding:  12px 20px;
    text-decoration: none;
    color: #38aef0;
 }
}


.info{
   margin-bottom: 46px;
  &__name{
  display: flex;
  font-size: 16px;
  color: #333333;
  margin-bottom: 12px;
 }
  &__time-posted{
  font-size: 12px;
  color: #999999;
  margin-left: 10px;
  }
  &__coment{
  font-size: 14px;
  color: #434A54;
  }
}


.input-box{
  width: 100%;
  position: relative;
  &__text{
    height: 50px;
    width: 900px;
    color: #434A54;
    border-style: none;
    padding: 0 10px;
    
  }
&__image{
  font-size: 1.3rem;
  position: absolute;
  top: 10px;
  right: 10px;
   &__file{
    display: none;
    
    }
  }
  }
  .submit-btn{
    width: 100px;
    height: 50px;
    padding: 0 30px;
    background-color: #38aef0;
    color: #fff;
    font-size: 16px;
    margin: 0 0 0 15px;
  }
